doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title О нас
    link(rel='stylesheet', href='css/main.css')
    
  body.about-page
    include includes/header
    
    main
      section
        .container-fluid
          .row
            .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
              h2 О нас
              .row.text-left
                .col-sm-6
                  p Идейные соображения высшего порядка, а также новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                .col-sm-6
                  p Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития.
              br
              img(src="media/images/s1.jpg", alt="")
              br
              h4 Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации модели развития.
              .row.about-other-links
                .col-sm-6
                  img(src="media/images/plus.png", alt="")
                  h3 Сотрудничество
                  br
                  a.btn(href="") узнать
                .col-sm-6
                  img(src="media/images/plus.png", alt="")
                  h3 Магазины 
                  br
                  a.btn(href="") узнать
    
    include includes/footer