doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Brends
    link(rel='stylesheet', href='css/main.css')
    
  body.brands-page
    include includes/header
    
    main
      section
        .container-fluid
          .row
            .col-md-2.col-sm-12.col-xs-12.brands-box
              ul.brand-links
                li
                  a(href="#andy-wolf") ANDY WOLF
                li
                  a(href="#barton-perreira-cazal") BARTON PERREIRA CAZAL
                li
                  a(href="#cazal") CAZAL
                li
                  a(href="") ITALIA INDEPENDENT
                li
                  a(href="") GENTLE MONSTER
                li
                  a(href="") KILSGAARD
                li
                  a(href="") LINDA FARROW
                li
                  a(href="#moscot") MOSCOT
                li
                  a(href="") MYKITA
                li
                  a(href="") OLIVER PEOPLES
                li
                  a(href="") RETROSUPERFUTURE
                li
                  a(href="") RIGARDS
                li
                  a(href="") STELLA MCCARTNEY
                li
                  a(href="") SAINT LAURENT
                li
                  a(href="") SALT.
                li
                  a(href="") THEO
                li
                  a(href="") VAVA
                li
                  a(href="") WHITEOUT & GLARE
                
            .col-md-10.col-sm-12.col-xs-12.brands-list
              
              #moscot.brand-item
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    .text-content
                      h4 
                        a(href="") MOSCOT
                      p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
                      br
                      a.btn(href="") посмотреть модели
                  .col-md-6.col-sm-6.col-xs-12
                    ul.slider-brand
                      li
                        .pic(style="background-image: url(media/images/n1.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n2.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n3.jpg)")

              #andy-wolf.brand-item
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    .text-content
                      h4 
                        a(href="") Andy Wolf
                      p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
                      br
                      a.btn(href="") посмотреть модели
                  .col-md-6.col-sm-6.col-xs-12
                    ul.slider-brand
                      li
                        .pic(style="background-image: url(media/images/n2.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n1.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n3.jpg)")

              #barton-perreira-cazal.brand-item
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    .text-content
                      h4 
                        a(href="") Barton Perreira Cazal
                      span made in ukraine
                      p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
                      br
                      a.btn(href="") посмотреть модели
                  .col-md-6.col-sm-6.col-xs-12
                    ul.slider-brand
                      li
                        .pic(style="background-image: url(media/images/n3.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n2.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n1.jpg)")

              #cazal.brand-item
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    .text-content
                      h4 
                        a(href="") Cazal
                      p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
                      br
                      a.btn(href="") посмотреть модели
                  .col-md-6.col-sm-6.col-xs-12
                    ul.slider-brand
                      li
                        .pic(style="background-image: url(media/images/n1.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n2.jpg)")
                      li
                        .pic(style="background-image: url(media/images/n3.jpg)")

        
        
    
    
    include includes/footer
              
              
    
    
    
    
    
    
    
  