doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Brends
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/main.css')
    
  body.brands-page
    include includes/header
    
    
    section.brand-links
      .container-fluid.reletive
        .row.middle-xs
          .col-xs-12
            ul
              li
                a(href="#andy-wolf") ANDY WOLF
              li
                a(href="#barton-perreira-cazal") BARTON PERREIRA CAZAL
              li
                a(href="#cazal") CAZAL
              li
                a(href="") ITALIA INDEPENDENT
              li
                a(href="") GENTLE MONSTER
              li
                a(href="") KILSGAARD
              li
                a(href="") LINDA FARROW
              li
                a(href="#moscot") MOSCOT
              li
                a(href="") MYKITA
              li
                a(href="") OLIVER PEOPLES
              li
                a(href="") RETROSUPERFUTURE
               

    section#moscot.brand-item
      .container-fluid
        .row.middle-xs
          .col-md-6.col-sm-12.col-xs-12
            .text-content
              h4 
                a(href="") MOSCOT
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
      .slider-brand-box  
        ul.slider-brand
          li
            .text-content
              h4 
                a(href="") MOSCOT
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
          li
            .pic(style="background-image: url(media/images/n1.jpg)")
          li
            .pic(style="background-image: url(media/images/n2.jpg)")
          li
            .pic(style="background-image: url(media/images/n3.jpg)")

    section#andy-wolf.brand-item
      .container-fluid
        .row.middle-xs
          .col-md-6.col-sm-12.col-xs-12
            .text-content
              h4 
                a(href="") Andy Wolf
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
      .slider-brand-box  
        ul.slider-brand
          li
            .text-content
              h4 
                a(href="") Andy Wolf
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
          li
            .pic(style="background-image: url(media/images/n2.jpg)")
          li
            .pic(style="background-image: url(media/images/n1.jpg)")
          li
            .pic(style="background-image: url(media/images/n3.jpg)")

    section#barton-perreira-cazal.brand-item
      .container-fluid
        .row.middle-xs
          .col-md-6.col-sm-12.col-xs-12
            .text-content
              h4 
                a(href="") Barton Perreira Cazal
              span made in ukraine
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
      .slider-brand-box  
        ul.slider-brand
          li
            .text-content
              h4 
                a(href="") Barton Perreira Cazal
              span made in ukraine
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
          li
            .pic(style="background-image: url(media/images/n3.jpg)")
          li
            .pic(style="background-image: url(media/images/n2.jpg)")
          li
            .pic(style="background-image: url(media/images/n1.jpg)")

    section#cazal.brand-item
      .container-fluid
        .row.middle-xs
          .col-md-6.col-sm-12.col-xs-12
            .text-content
              h4 
                a(href="") Cazal
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
      .slider-brand-box
        ul.slider-brand
          li
            .text-content
              h4 
                a(href="") Cazal
              p Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения
              br
              a.btn(href="") посмотреть модели
          li
            .pic(style="background-image: url(media/images/n1.jpg)")
          li
            .pic(style="background-image: url(media/images/n2.jpg)")
          li
            .pic(style="background-image: url(media/images/n3.jpg)")



    
    
    include includes/footer
    script.
      $(function() {
        $.scrollify({
          section: ".brand-item",
          scrollbars: false,
          interstitialSection:".brand-links,footer",
          overflowScroll: false
        });
      });
              
    
    
    
    
    
    
    
  