doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet', href='css/main.css')
    
  body.main-page
    include includes/header
    
    main
      section
        ul.main-page-slider
          li
            .bg(style="background-image: url(media/images/2.jpg)")
            .info
              h2 заголовок предложения
              p Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              br
              a.btn(href="") перейти
          li
            .bg(style="background-image: url(media/images/1.jpg)")
            .info
              h2 заголовок предложения
              p Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.
              br
              a.btn(href="") перейти
          li
            .bg(style="background-image: url(media/images/3.jpg)")
            .info
              h2 заголовок предложения
              p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание систем массового участия. 
              br
              a.btn(href="") перейти
          
        
        
    
    
    include includes/footer
              
              
    
    
    
    
    
    
    
    
    
    
    
  