doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title News
    link(rel='stylesheet', href='css/main.css')
    
  body.news-page
    include includes/header
    
    main
      section
        .container-fluid
          .row
            .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
              a.news-item(href="news-item.html")
                img(src="media/images/n4.jpg", alt="")
                .row
                  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                    label 15.06.2017
                    h2 Заголовок этой новости будет растягиваться до тех пор, до которых сможет
                    .row
                      .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
                        p А здесь уже идет описание новости, строго фиксированное по ширине. Строка создает еще одну строку и еще, и еще. И так, пока не сработает ограничение в...
                        br
                        span.btn ЧИТАТЬ
                  
              a.news-item(href="news-item.html")
                img(src="media/images/n2.jpg", alt="")
                .row
                  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                    label 15.06.2017
                    h2 Заголовок этой новости будет растягиваться до тех пор, до которых сможет
                    .row
                      .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
                        p А здесь уже идет описание новости, строго фиксированное по ширине. Строка создает еще одну строку и еще, и еще. И так, пока не сработает ограничение в...
                        br
                        span.btn ЧИТАТЬ
              a.news-item(href="news-item.html")
                img(src="media/images/n3.jpg", alt="")
                .row
                  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                    label 15.06.2017
                    h2 Заголовок этой новости будет растягиваться до тех пор, до которых сможет
                    .row
                      .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
                        p А здесь уже идет описание новости, строго фиксированное по ширине. Строка создает еще одну строку и еще, и еще. И так, пока не сработает ограничение в...
                        br
                        span.btn ЧИТАТЬ
              a.news-item(href="news-item.html")
                img(src="media/images/n1.jpg", alt="")
                .row
                  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                    label 15.06.2017
                    h2 Заголовок этой новости будет растягиваться до тех пор, до которых сможет
                    .row
                      .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
                        p А здесь уже идет описание новости, строго фиксированное по ширине. Строка создает еще одну строку и еще, и еще. И так, пока не сработает ограничение в...
                        br
                        span.btn ЧИТАТЬ
        
          .row
            .col-md-12.col-sm-12.col-xs-12
              .pagination
                ul
                  
                  li.active
                    a(href="") 1
                  li
                    a(href="") 2
                  li
                    a(href="") 3
                  li
                    a(href="") 4
                  li
                    a(href="") 5


    
    include includes/footer
    
    
    
    
    
    
    
  
    
  