body
  margin: auto
*, body
  box-sizing: border-box
.container, .container-fluid
  max-width: 1600px
  margin: auto
.no-js #preloader
  display: none !important
  
  
img
  max-width: 100%
.reletive
  position: relative
  
  
  
  
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield
  
  
.container-fluid
  @include mobil
    padding-left: 1em
    padding-right: 1em