footer
  background: #000
  padding: 100px 0 120px
  color: #fff
  z-index: 300
  position: relative
  font-size: 14px
  p
    font-family: $book
  a
    color: #fff
    font-size: 12px
    display: block
    text-transform: uppercase
    text-decoration: none
    font-family: $pt
  .text-left
    padding-top: 50px
    opacity: .5
    
  .scroll-top
    font-size: 150px
    color: #fff
    text-decoration: none
    text-align: center
    display: block
    opacity: .5
    span
      font-size: 14px
      display: block
  .social
    text-align: center
    padding: 0
    margin: 0
    display: table
    width: 100%
    padding-top: 130px
    li
      display: table-cell
      a
        display: block
        color: #fff
  .subscribe-box
    position: relative
    margin-top: 20px
    z-index: 10
    margin-bottom: 55px
    input
      box-sizing: border-box
      display: block
      width: 100%
      background: #fff
      border: 0
      box-shadow: none
      outline: none
      padding: $s-xl
      font-size: 14px
      padding-right: 150px
    .send-button
      position: absolute
      top: 15px
      right: 0px
      width: 120px
      text-align: center
      background: none
      font-size: 14px
      text-transform: uppercase
      letter-spacing: 1px
      border: 0
      border-left: 1px solid #000
      padding: $s-m $s-l
      color: #999
  .copyright
    margin-top: 20px
    p
      font-size: 10px
      color: #999
      text-transform: uppercase
      text-align: center
      letter-spacing: 1px
      
      
      
      
      
.scroll-top
  position: fixed
  bottom: 5%
  right: 3%
  z-index: 9999
  text-align: center
  color: #999
  text-decoration: none
  font-size: 35px
  span
    display: block
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 1px
    
    