a.scroll-top(href="#") ↑
footer
  .container-fluid
    .row
      .col-md-3.col-sm-6.col-xs-12
        p 
          |NOT FOR EVERYONE
          br
          | Одесса
        
        p 
          |ЕКАТЕРИНИСКАЯ ПЛ.3
          br
          | +38 044 777 77 77 
          br
          |INFO@NOTFOREVERYONE.UA
        p
          |ЧАСЫ РАБОТЫ
          br
          |ПН. - ПТ. 11:00 - 21:00 
          br
          |СБ. 12:00 - 20:00
          br
          |ВС. ВЫХОДНОЙ ДЕНЬ
        
      .col-md-3.col-sm-6.col-xs-12
        p 
          |NOT FOR EVERYONE
          br
          | Киев
        p 
          |УЛ. ПУШКИНСКАЯ 44
          br
          | +38 044 777 77 77 
          br
          |INFO@NOTFOREVERYONE.UA
        p
          |ЧАСЫ РАБОТЫ
          br
          |ПН. - ПТ. 11:00 - 21:00 
          br
          |СБ. 12:00 - 20:00
          br
          |ВС. ВЫХОДНОЙ ДЕНЬ
      .col-md-3.col-sm-6.col-xs-12
        p ПОДПИСАТЬСЯ НА РАССЫЛКУ
        .subscribe-box
          input(type="number" placeholder="НОМЕР ТЕЛЕФОНА")
          button.send-button Отправить
        a(href="") facebook
        a(href="") instagram
      .col-md-3.col-sm-6.col-xs-12
        .copyright
          p COPYRIGHT © NOT FOR EVERYONE


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://use.fontawesome.com/2b87f5494f.js")
script(src="js/min/app-min.js")