a.scroll-top(href="#")
  img(src="media/images/arrow-top.svg", width="50px", alt="")
footer
  .container-fluid
    .row
      .shop-footer-info.col-md-2.col-sm-6.col-xs-6
        h5
          |NOT FOR EVERYONE
        p
          |Киев
        
        p 
          |УЛ. Пушкинская 43А
          br
          | +38 044 288 33 00 
          br
          |INFO@NOTFOREVERYONE.UA
        p
          |ЧАСЫ РАБОТЫ
          br
          |ПН. - ПТ. 11:00 - 21:00 
          br
          |СБ. 12:00 - 20:00
          br
          |ВС. ВЫХОДНОЙ ДЕНЬ
        
      .shop-footer-info.col-md-2.col-sm-6.col-xs-6
        h5
          |NOT FOR EVERYONE
        p
          |Одесса
        p 
          |ПЛ.ЕКАТЕРИНЕНСКАЯ 6
          br
          | +38 048 706 32 32
          br
          |INFO@NOTFOREVERYONE.UA
        p
          |ЧАСЫ РАБОТЫ
          br
          |ПН. - ПТ. 11:00 - 21:00 
          br
          |СБ. 12:00 - 20:00
          br
          |ВС. ВЫХОДНОЙ ДЕНЬ
      .col-md-4.col-sm-6.col-xs-12
        .subscribe-box
          p Подпишись на  SMS рассылку, чтобы первыми узнавать о новых поступлениях, акциях и специальных предложениях
          br
          input.phone-input-footer(type="text", placeholder="38 (___)___-__-___")
            
          button.send-button подписаться
        
      .col-md-4.col-sm-6.col-xs-12
        .socil-lnks
          h5 следите за нами
          a(href="")
            img(src="media/img-p/icon-i.png", alt="")
          a(href="")
            img(src="media/img-p/icon-f.png", alt="")
        .copyright
          p COPYRIGHT © NOT FOR EVERYONE


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://use.fontawesome.com/2b87f5494f.js")
script(src="js/min/app-min.js")