header.nav-down
  .container-fluid
    .row
      .col-md-3.col-sm-4.col-xs-8
        a.logo(href="index.html")
          |NOT FOR EVERYONE
          span Concept eyewear company 
      .col-md-9.col-sm-8.col-xs-4.reletive
        a.open-mobil(href="#")
          span
        .row.mobil-menu
          .col-md-8.col-sm-12.col-xs-12.center-menu.text-center
            ul.main-menu
              li
                a(href="index.html") О НАС
              li
                a(href="brands.html") БРЕНДЫ
              li
                a(href="catalog.html") КАТАЛОГ
              li
                a(href="news.html") ЖУРНАЛ
          .col-md-4.col-sm-12.col-xs-12.header-search
            ul.sub-menu
              li
                a(href="store.html") Магазины
              li
                a(href="terms.html") Сотрудничество
              li
                a(href="") facebook
              li
                a(href="") instagram
        button.open-search
          i.fa.fa-search

.search-box
  .open-search
  .search-content
    form(action="")
      p Что вы ищите?
      input.search-input(type="search" placeholder="поиск")
      ul
        li
          span Сегодня нашли:
        li
          a(href="") Moskot
        li
          a(href="") Металическая оправа
        li
          a(href="") Оптика
        li
          a(href="") Очки со скидкой
        li
          a(href="") Kuboraum
      input.send-search(type="submit" value="НАЙТИ")
   
      